{% load static %}


<nav 
     class="navbar 
            navbar-expand-lg 
            position-absolute 
            top-0
            z-index-3
            w-100 
            shadow-none my-3  
            navbar-transparent"
    >
    <div class="container">
        <a 
           class="navbar-brand 
                  text-white " 
           href="{% url 'restaurants:home' %}"
           rel="tooltip" 
           data-placement="bottom" 
          >
            Rubik Food
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-2" href="https://github.com/creativetimofficial/soft-ui-design-system"
                        target="_blank">
                        <i class="fa fa-github me-1 fa-2x"></i>
                        <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Star us on Github"></p>
                    </a>
                </li>
                {% if not user.user_staff %}
                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                            id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons opacity-6 me-2 text-md">&nbsp; </i>
                            Partnership
                            <img src="{% static 'assets/img/down-arrow-white.svg' %}" alt="down-arrow"
                                class="arrow ms-2 d-lg-block d-none">
                            <img src="{% static 'assets/img/down-arrow-dark.svg' %}" alt="down-arrow"
                                class="arrow ms-2 d-lg-none d-block">
                        </a>
                        <ul 
                            class="dropdown-menu dropdown-menu-animation 
                                dropdown-menu-end dropdown-md 
                                dropdown-md-responsive mt-0 
                                mt-lg-3 p-3 border-radius-lg"
                            aria-labelledby="dropdownMenuPartnership"
                        >
                            <div class="d-none d-lg-block">
                                <ul class="list-group">
                                    <li class="nav-item list-group-item border-0 p-0">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md"
                                            href="{% url 'restaurants:new_partner' %}">
                                            <h6
                                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                For Restaurants</h6>
                                            <span class="text-sm">Bring your restaurant to Rubik.</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row d-lg-none">
                                <div class="col-md-12 g-0">
                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="../pages/about-us.html">
                                        <h6
                                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Getting Started</h6>
                                        <span class="text-sm">All about overview, quick start, license and contents</span>
                                    </a>
                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="../pages/about-us.html">
                                        <h6
                                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Foundation</h6>
                                        <span class="text-sm">See our colors, icons and typography</span>
                                    </a>
                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="../pages/about-us.html">
                                        <h6
                                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Components</h6>
                                        <span class="text-sm">Explore our collection of fully designed components</span>
                                    </a>
                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="../pages/about-us.html">
                                        <h6
                                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Plugins</h6>
                                        <span class="text-sm">Check how you can integrate our plugins</span>
                                    </a>
                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="../pages/about-us.html">
                                        <h6
                                            class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Utility Classes</h6>
                                        <span class="text-sm">For those who want flexibility, use our utility classes</span>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item mx-3">
                    <a class="d-flex flex-row flex-nowrap gap-2 align-items-center" href="{% url 'delivery:cart' %}">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-primary badge-pill">
                            <small id="cart-count">
                                {{ user.user_cart.cart_items.count|default:'0' }}
                            </small>
                        </span>
                    </a>
                </li>
                <li class="nav-items mx-3">
                    <a href="{% url 'restaurants:list_restaurants' %}" class="d-flex flex-row flex-nowrap align-items-baseline">
                        <i class="fas fa-utensils"></i>&nbsp;
                        <span>Restaurants</span>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuDocs"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user">&nbsp; </i>  Authentication
                        <img src="{% static 'assets/img/down-arrow-white.svg' %}" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
                        <img src="{% static 'assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-2 d-lg-none d-block">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg"
                        aria-labelledby="dropdownMenuDocs" id="auth_nav">
                        <div class="d-none d-lg-block">
                            <ul class="list-group">
                                {% if user.is_authenticated %}
                                    <li class="nav-item list-group-item border-0 p-0">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md"
                                            href="{% url 'account_logout' %}">
                                            <h6
                                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                Logout</h6>
                                            <span class="text-sm">Log out of your account.</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-group-item border-0 p-0">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md"
                                            href="{% url 'accounts:profile' %}">
                                            <h6
                                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                Profile</h6>
                                            <span class="text-sm">Take a look at your profile.</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item list-group-item border-0 p-0">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md"
                                            href="{% url 'account_login' %}">
                                            <h6
                                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                Login</h6>
                                            <span class="text-sm">Log in to your account.</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-group-item border-0 p-0">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md"
                                            href="{% url 'account_signup' %}">
                                            <h6
                                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                Signup</h6>
                                            <span class="text-sm">Sign up or use a social account to do so.</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>