{% extends "base/layout/base.html" %}
{% load crispy_forms_tags socialaccount %}


{% block title %}Login{% endblock %}


{% block content %}

<body class="sign-in-basic">
    <!-- Navbar Transparent -->
    {% include "base/includes/navbar_transparent.html" %}
    <!-- End Navbar -->
    <div class="page-header align-items-start min-vh-100"
        style="background-image: url('https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg?w=2000');"
        loading="lazy">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">{{ provider.name|title }}</h4>
                                <div class="mx-4 my-2 text-white">
                                    {% if process == "connect" %}
                                        <h6 class="text-white">Connect</h6>
                                        <small>
                                            You're about to connect to a third party account from {{ provider.name|title }}
                                        </small>
                                    {% else %}
                                        <h6 class="text-white">Log In</h6>
                                        <small>
                                            You're about to sign in via a third party account from {{ provider.name|title }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row col-4 offset-7">
                                    <button type="submit" class="btn btn-success">Continue</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        {% include 'base/includes/footer_transparent.html' %}
    </div>
</body>

{% endblock %}