{% extends 'base/layout/dash_base.html' %} 

{% load static crispy_forms_tags %}


{% block title %}{{ user.username|title }}'s Profile{% endblock %} 

{% block stylesheet %}
{{ address_form.media }}
{% endblock %}

{% block content %}
	<div class="row d-flex">
		<div class="col-md-8 flex-column">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Edit Profile</h4>
					<p class="card-category">Complete your profile</p>
				</div>
				<div class="card-body py-3">
					<form action="{% url 'accounts:change_user' %}" method="POST">
						{% csrf_token %}
						{% if change_user_form.errors or change_user_form.non_field_errors %}
							<div class="alert alert-rose">
								<ul>
									{% for field in change_user_form %}
										{% for error in field.errors %}
											<li>{{ field }}: {{ error }}</li>
										{% endfor %}
									{% endfor %}
									{% for errors in change_user_form.non_field_errors %}
										<li>{{ errors }}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
						<div class="row my-4">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">First Name</label>
									{{ change_user_form.first_name }}
									{{ change_user_form.first_name.errors }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Last Name</label>
									{{ change_user_form.last_name }}
									{{ change_user_form.last_name.errors }}
								</div>
							</div>
						</div>
						<div class="my-4 mt-5">
							<div class="form-group">
									<label class="bmd-label-floating">Username</label>
									{{ change_user_form.username }}
									{{ change_user_form.username.errors|join:'' }}
								</div>
						</div>
						<button type="submit" class="btn btn-primary pull-right">
							Update
						</button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4 flex-column">
			<div class="card card-profile">
				<div class="card-avatar">
					<a href="#">
						<img
							class="img"
							src="{{ user.get_picture_url }}"
						>
					</a>
				</div>
				<form 
					  action="{% url 'accounts:edit_picture' %}" 
					  method="POST" 
					  enctype="multipart/form-data"
					  id="profileForm"
					  class="mx-auto"
					 >
					{% csrf_token %}
					{{ edit_profile_picture_form.picture }}
					<button type="submit" class="btn btn-sm btn-danger">clear</button>
				</form>
				<div class="card-body">
					<h6 class="card-category">
						{{ user.user_staff.get_role_display|default:"Customer"|title }}
					</h6>
					<h4 class="card-title">{{ user.name|title }}</h4>
				</div>
			</div>
			<div class="flex-column">
				<form action="{% url 'account_logout' %}" method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger d-block w-100">Log Out</button>
				</form>
			</div>
			<div class="flex-column">
				<a href="{% url 'accounts:change_password' %}" class="btn btn-info d-block w-100">
					Change Password
				</a>
			</div>
			<div class="flex-column mt-4">
				<a href="{% url 'account_email' %}" class="btn btn-success d-block w-100">
					Change emails
				</a>
			</div>
		</div>
	</div>
	{% if user|check_perm:"in_place.edit_restaurant" %}
		<div class="my-4">
			<div class="card">
				<div class="card-header card-header-warning">
					<h4 class="card-title">Change Picture</h4>
					<p class="card-category">Change the profile picture of your restaurant.</p>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-8 img-container my-2 mx-3">
							<img 
								 class="img-fluid w-50"
								 alt="profile picture" 
								 src="{{ user.user_staff.restaurant.get_picture_url }}"
								>
						</div>
						<div class="col-md-3 mt-3 mx-2">
							<form 
								  action="{% url 'in_place:edit_restaurant' %}" 
								  method="POST" 
								  enctype="multipart/form-data"
								 >
								{% csrf_token %}
								<div class="my-2 form-group">
									<label class="bmd-label-floating">Name</label>
									<input 
										   class="form-control"
										   type="text" 
										   name="name" 
										   value="{{ user.user_staff.restaurant.name }}"
										  > 
								</div>
								<div class="my-2">
									<label>Picture</label>
									{{ edit_restaurant_form.picture }}
								</div>
								<div class="row col-3 offset-8 mt-4">
									<button type="submit" class="btn btn-info">Edit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div style="margin-top:3.5rem">
        <div class="card" id="addressesCard">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Edit Addresses</h4>
					<p class="card-category">Complete your list of addresses</p>
				</div>
				<div class="card-body">
					{% if user.user_addresses.exists %}
						<div class="mx-3">
							{% for address in user.user_addresses.all %}
								<div class="d-flex" style="gap: .3rem">
									<i class="material-icons text-success">check_circle</i>
									<span class="align-self-baseline">
										<h6>
											{{ address.province }},
											{{ address.city }},
											{{ address.address }} - {{ address.postal_code }}
										</h6>
									</span>
									<span class="align-self-baseline">
										<form method="POST" id="form-{{ address.public_uuid }}">
											{% csrf_token %}
											<input 
												type="hidden" 
												name="public_uuid" 
												value="{{ address.public_uuid }}"
												>
											<a 
											href="#addressesCard" 
											onclick="document.getElementById('form-{{ address.public_uuid }}').submit()"
											>
											Edit
											</a>
										</form>
									</span>
									<span class="align-self-baseline">
										<form 
											method="POST" 
											id="form-delete-{{ address.public_uuid }}"
											action="{% url 'accounts:delete_address' %}"
											>
											{% csrf_token %}
											<input 
												type="hidden" 
												name="public_uuid" 
												value="{{ address.public_uuid }}"
												>
											<a 
											href="#addressesCard" 
											onclick="document.getElementById('form-delete-{{ address.public_uuid }}').submit()"
											>
											Delete
											</a>
										</form>
									</span>
								</div>
							{% endfor %}
						</div><hr>
					{% endif %}
					<div class="my-5">
						<form 
							  enctype="multipart/form-data" 
							  action="{{ address_form_action }}"
							  method="POST">
							{% csrf_token %}

							{% comment %} 
								This if-statement helps us recognize if the form 
								is to create a new record or update a previously created one.
							{% endcomment %}

							{% if public_uuid %}
								<input
								   type="hidden"
								   name="public_uuid"
								   value="{{ public_uuid }}"
								  >
							{% endif %}

							<div class="row">
								<div class="col offset-lg-2 offset-md-2">
									{{ address_form.location }}
								</div>
							</div>
							<div class="row my-2 mx-3">
								<div class="col-lg-4" id="city_div">
									{{ address_form.city|as_crispy_field }}
								</div>
								<div class="col-lg-4">
									{{ address_form.province|as_crispy_field }}
								</div>
								
								<div class="col-lg-4 col-12 form-group">
									<label class="bmd-label-floating">
										Postal Code
									</label>
									{{ address_form.postal_code }}
								</div>
							</div>
							<div class="row my-2 mx-3">
								<div class="col form-group">
									<label class="bmd-label-floating">
										Address
									</label>
									{{ address_form.address }}
								</div>
							</div>
							<button type="submit" class="btn btn-primary pull-right">
								Add
							</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %} 

{% block script %}
	<script>
		$(document).ready(function () {
			$().ready(function () {
				$sidebar = $(".sidebar");

				$sidebar_img_container = $sidebar.find(".sidebar-background");

				$full_page = $(".full-page");

				$sidebar_responsive = $("body > .navbar-collapse");

				window_width = $(window).width();

				$(".fixed-plugin a").click(function (event) {
					// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
					if ($(this).hasClass("switch-trigger")) {
						if (event.stopPropagation) {
							event.stopPropagation();
						} else if (window.event) {
							window.event.cancelBubble = true;
						}
					}
				});

				$(".fixed-plugin .active-color span").click(function () {
					$full_page_background = $(".full-page-background");

					$(this).siblings().removeClass("active");
					$(this).addClass("active");

					var new_color = $(this).data("color");

					if ($sidebar.length != 0) {
						$sidebar.attr("data-color", new_color);
					}

					if ($full_page.length != 0) {
						$full_page.attr("filter-color", new_color);
					}

					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.attr("data-color", new_color);
					}
				});

				$(".fixed-plugin .background-color .badge").click(function () {
					$(this).siblings().removeClass("active");
					$(this).addClass("active");

					var new_color = $(this).data("background-color");

					if ($sidebar.length != 0) {
						$sidebar.attr("data-background-color", new_color);
					}
				});

				$(".fixed-plugin .img-holder").click(function () {
					$full_page_background = $(".full-page-background");

					$(this).parent("li").siblings().removeClass("active");
					$(this).parent("li").addClass("active");

					var new_image = $(this).find("img").attr("src");

					if (
						$sidebar_img_container.length != 0 &&
						$(".switch-sidebar-image input:checked").length != 0
					) {
						$sidebar_img_container.fadeOut("fast", function () {
							$sidebar_img_container.css(
								"background-image",
								'url("' + new_image + '")'
							);
							$sidebar_img_container.fadeIn("fast");
						});
					}

					if (
						$full_page_background.length != 0 &&
						$(".switch-sidebar-image input:checked").length != 0
					) {
						var new_image_full_page = $(
							".fixed-plugin li.active .img-holder"
						)
							.find("img")
							.data("src");

						$full_page_background.fadeOut("fast", function () {
							$full_page_background.css(
								"background-image",
								'url("' + new_image_full_page + '")'
							);
							$full_page_background.fadeIn("fast");
						});
					}

					if ($(".switch-sidebar-image input:checked").length == 0) {
						var new_image = $(".fixed-plugin li.active .img-holder")
							.find("img")
							.attr("src");
						var new_image_full_page = $(
							".fixed-plugin li.active .img-holder"
						)
							.find("img")
							.data("src");

						$sidebar_img_container.css(
							"background-image",
							'url("' + new_image + '")'
						);
						$full_page_background.css(
							"background-image",
							'url("' + new_image_full_page + '")'
						);
					}

					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.css(
							"background-image",
							'url("' + new_image + '")'
						);
					}
				});

				$(".switch-sidebar-image input").change(function () {
					$full_page_background = $(".full-page-background");

					$input = $(this);

					if ($input.is(":checked")) {
						if ($sidebar_img_container.length != 0) {
							$sidebar_img_container.fadeIn("fast");
							$sidebar.attr("data-image", "#");
						}

						if ($full_page_background.length != 0) {
							$full_page_background.fadeIn("fast");
							$full_page.attr("data-image", "#");
						}

						background_image = true;
					} else {
						if ($sidebar_img_container.length != 0) {
							$sidebar.removeAttr("data-image");
							$sidebar_img_container.fadeOut("fast");
						}

						if ($full_page_background.length != 0) {
							$full_page.removeAttr("data-image", "#");
							$full_page_background.fadeOut("fast");
						}

						background_image = false;
					}
				});

				$(".switch-sidebar-mini input").change(function () {
					$body = $("body");

					$input = $(this);

					if (md.misc.sidebar_mini_active == true) {
						$("body").removeClass("sidebar-mini");
						md.misc.sidebar_mini_active = false;

						$(
							".sidebar .sidebar-wrapper, .main-panel"
						).perfectScrollbar();
					} else {
						$(
							".sidebar .sidebar-wrapper, .main-panel"
						).perfectScrollbar("destroy");

						setTimeout(function () {
							$("body").addClass("sidebar-mini");

							md.misc.sidebar_mini_active = true;
						}, 300);
					}

					// we simulate the window Resize so the charts will get updated in realtime.
					var simulateWindowResize = setInterval(function () {
						window.dispatchEvent(new Event("resize"));
					}, 180);

					// we stop the simulation of Window Resize after the animations are completed
					setTimeout(function () {
						clearInterval(simulateWindowResize);
					}, 1000);
				});
			});
		});
	</script>
	<script>
		var $profile= $("#changeProfileInput");
		$profile.change((e) => {
			$("#profileForm").submit();
		});
	</script>
	<script>
		const getCities = province => {
			url = window.location.origin + "{% url 'in_place:province_ajax' %}";
			$.ajax({
				url: url,
				method: "GET",
				data: { province: province },
				success: data => {
					if (data.status_code === 200) {
						var city_html = $.parseHTML(data.template);
						$("#city_div").html(city_html)
					} else {
						alert("Something's gone wrong. Please try again.")
					}
				}
			});
		}
		const $provinceField = $("#id_province").change(e => {
			var province = e.target.value;
			getCities(province);
		});
		$(document).ready(() => {
			province = $("#id_province").val();
			getCities(province);
		})
	</script>
{% endblock %}
