{% extends "base/layout/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Signup{% endblock %}


{% block content %}

<body class="sign-in-basic">
    <!-- Navbar Transparent -->
    {% include "base/includes/navbar_transparent.html" %}
    <!-- End Navbar -->
    <div class="page-header align-items-start min-vh-100"
        style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');"
        loading="lazy">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <center>
                                    <i class="fa fa-user-plus fa-5x text-white px-3 py-3"></i>
                                </center>
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Create an account</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.password1|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                </div>
                                {{ form.picture|as_crispy_field }}
                                <button type="submit" class="btn btn-primary mt-2">
                                    Sign up
                                </button>
                                <hr>
                                <center style="margin: -1rem 0">
                                    <a href="{% url 'account_login' %}">Already have an account?</a>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include "base/includes/footer_transparent.html" %}

        <script>
            $("input").addClass('bg-gray-300');
        </script>
    </div>
</body>

{% endblock %}