{% extends 'base/layout/dash_base.html' %}

{% load static humanize crispy_forms_tags dash_utils %}

{% block title %}{{ user.name|title }} | Dashboard{% endblock %}

{% block stylesheet %}
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}

{% block modals %}
    <!-- new order -->
    <div 
         class="modal fade" 
         id="createOrder" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="createOrder" 
         aria-hidden="true"
        >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light">
                        New Order
                    </h5>
                    <button 
                            type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close"
                           >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form method="POST" id="newOrderForm">
                    {% csrf_token %}
                    <input name="dest" type="hidden" value="dashboard">
                    {{ order_item_formset.management_form }}
                        <div class="table-responsive">
                            <table class="table table-dark table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>item</th>
                                        <th>count</th>
                                        <th>fee</th>
                                        <th>auto price</th>
                                        <th>total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in order_item_formset.forms %}
                                        <tr>
                                            <td 
                                                rel="tooltip" 
                                                class="order-item-td"
                                                style="width:30%"
                                               >
                                                {{ form.item }}
                                            </td>
                                            <td style="width:10%">{{ form.count }}</td>
                                            <td>{{ form.fee }}</td>
                                            <td style="width:8%">
                                                <label class="form-check-label d-flex justify-content-center align-items-center align-content-center">
                                                    {{ form.auto_price }}
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </td>
                                            <td>{{ form.paid_price }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <hr>
                            <div class="mx-3 my-4">
                                {% for val, choice in order_form.order_type.field.choices %}
                                    <div class="form-check form-check-radio">
                                        <label class="form-check-label">
                                            <input 
                                                   type="radio" 
                                                   class="form-check-input" 
                                                   name="order_type"
                                                   value="{{ val }}"
                                                   id="order_type-{{ val }}"
                                                  >
                                                {{ choice|upper }}
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="new_dinein_info">
                                <hr>
                                <div class="mt-5 mx-3">
                                    <div class="form-group">
                                        <label for="dinein_table_num" class="bmd-label-floating">
                                            {{ dinein_form.table_number.label|title }}*
                                        </label>
                                        {{ dinein_form.table_number }}
                                        <span class="text-warning my-2">
                                            {{ dinein_form.table_number.errors }}
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="dinein_desc" class="bmd-label-floating">
                                            {{ dinein_form.description.label|title }}
                                        </label>
                                        {{ dinein_form.description }}
                                        <span class="text-warning my-2">
                                            {{ dinein_form.description.errors }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button 
                            type="button" 
                            class="btn btn-success" 
                            onclick="javascript:$('#newOrderForm').submit()"
                           >
                           Submit
                        </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dynModals">
        <!-- edit order -->
        {% for order in orders %}
            <div 
                class="modal fade"
                id="edit-order-{{ order.qs.public_uuid }}"
                tabindex="-1"
                role="dialog"
                >
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title text-light">
                                Edit Order
                            </h5>
                            <button 
                                    type="button" 
                                    class="close" 
                                    data-dismiss="modal" 
                                    aria-label="Close"
                                >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form 
                                method="POST" 
                                action="{% url 'in_place:edit_order' %}"
                                class="edit_form"
                                id="editOrderForm-{{ order.qs.public_uuid }}"
                                >
                                {% csrf_token %}
                                {{ order.formset.management_form }}
                                <input type="hidden" name="dest" value="dashboard">
                                <div class="table-responsive">
                                    <table class="table table-dark table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>item</th>
                                                <th>count</th>
                                                <th>fee</th>
                                                <th>auto price</th>
                                                <th>total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in order.formset.forms %}
                                                <tr>
                                                    <td 
                                                        rel="tooltip"
                                                        class="order-item-td"
                                                        style="width:30%"
                                                    >{{ form.item }}</td>
                                                    <td style="width:10%">{{ form.count }}</td>
                                                    <td>{{ form.fee }}</td>
                                                    <td style="width:8%">
                                                        <label
                                                            class="form-check-label d-flex justify-content-center 
                                                                    align-items-center align-content-center"
                                                            >
                                                            {{ form.auto_price }}
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </td>
                                                    <td>{{ form.paid_price }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <hr>
                                    <div class="mx-3 mt-4">
                                        {% for val, choice in order.order_form.order_type.field.choices %}
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input 
                                                        type="radio" 
                                                        class="form-check-input" 
                                                        name="order_type" 
                                                        value="{{ val }}"
                                                        {% if val == order.order_form.order_type.value %}
                                                            checked
                                                        {% endif %}   
                                                        >
                                                    {{ choice|upper }}
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                        <input 
                                            type="hidden"
                                            name="public_uuid"
                                            value="{{ order.qs.public_uuid }}"
                                            >
                                    </div>
                                    <div class="dinein_info" id="dinein_info-{{order.qs.public_uuid}}">
                                        <hr>
                                        <div class="mt-5 mx-3">
                                            <div class="form-group">
                                                <label for="dinein_table_num" class="bmd-label-floating">
                                                    {{ order.dinein_form.table_number.label|title }}*
                                                </label>
                                                {{ order.dinein_form.table_number }}
                                                <span class="text-warning my-2">
                                                    {{ order.dinein_form.table_number.errors }}
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="dinein_desc" class="bmd-label-floating">
                                                    {{ order.dinein_form.description.label|title }}
                                                </label>
                                                {{ order.dinein_form.description }}
                                                <span class="text-warning my-2">
                                                    {{ order.dinein_form.description.errors }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button 
                                    type="button" 
                                    class="btn btn-primary" 
                                    onclick="javascript:$('#editOrderForm-{{ order.qs.public_uuid }}').submit()"
                                >
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- delete order -->
        {% if user.user_staff.can_delete_orders %}
            {% for order in orders %}
                <div 
                    class="modal fade" 
                    id="delete-order-{{ order.qs.public_uuid }}" 
                    tabindex="-1" 
                    role="dialog" 
                    >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-light">
                                    Delete Order
                                </h5>
                                <button 
                                        type="button" 
                                        class="close" 
                                        data-dismiss="modal" 
                                        aria-label="Close"
                                    >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-light">
                                <h3 class="text-bolder">
                                    Are you sure you want to delete your record of this order?
                                </h3>
                                <form 
                                    method="POST" 
                                    action="{% url 'in_place:delete_order' %}"
                                    id="delete-order-form-{{ order.qs.public_uuid }}"
                                    >
                                    {% csrf_token %}
                                    <input 
                                        type="hidden" 
                                        name="public_uuid" 
                                        value="{{ order.qs.public_uuid }}"
                                        >
                                    <input 
                                        type="hidden"
                                        name="dest"
                                        value="dashboard"
                                        >
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button 
                                        type="button" 
                                        class="btn btn-secondary" 
                                        data-dismiss="modal"
                                    >
                                    Close
                                </button>
                                <button
                                type="button" 
                                class="btn btn-danger" 
                                onclick="javascript:$('#delete-order-form-{{ order.qs.public_uuid }}').submit()"
                                >
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div 
                         class="ct-chart" 
                         id="dailySalesChart"
                         chart-labels="{{ sale_chart.labels }}"
                         chart-values="{{ sale_chart.values }}"
                         chart-high="{{ sale_chart.high }}"
                         chart-low="{{ sale_chart.low }}"
                        ></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Daily Sales</h4>
                    <p class="card-category">
                        <span class="text-success">
                            <i class="fa fa-long-arrow-up"></i> 
                            <!-- TODO: Handle this bitch -->
                            {{ user.user_staff.restaurant.daily_increase }} 
                        </span> increase in today sales.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated just now
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div 
                         class="ct-chart" 
                         id="revenueChart"
                         chart-labels="{{ revenue_chart.labels }}"
                         chart-values="{{ revenue_chart.values }}"
                         chart-high="{{ revenue_chart.high }}"
                         chart-low="{{ revenue_chart.low }}"
                        ></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Revenue</h4>
                    <p class="card-category">Revenue Earned In Last 7 Days</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated just now
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div 
                         class="ct-chart" 
                         id="averageScoreChart"
                         chart-labels="{{ score_chart.labels }}"
                         chart-values="{{ score_chart.values }}"
                         chart-high="{{ score_chart.high }}"
                         chart-low="{{ score_chart.low }}"
                        ></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Average Score</h4>
                    <p class="card-category">Latest Performance Of This Restaurant</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated just now
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">fastfood</i>
                    </div>
                    <p class="card-category">Most Ordered Food</p>
                    <h3 class="card-title">
                        {{ restaurant.most_popular_food }}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i>
                        Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">account_balance</i>
                    </div>
                    <p class="card-category">Monthly Revenue</p>
                    <h3 class="card-title">
                        {{ restaurant.weekly_revenue_sum|default:'0'|trunc_number }}T</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> This Month
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">paid</i>
                    </div>
                    <p class="card-category">Daily Revenue</p>
                    <h3 class="card-title">
                        {{ restaurant.daily_revenue|default:'0'|trunc_number }}T</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Today
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                        Employee{% if user.user_staff.can_read_salaries %}s{% endif %} Stats
                    </h4>
                    <p class="card-category">Employees Stats on {% now "jS\, F o" %}</p>
                </div>
                <div class="card-body table-responsive" style="overflow-y:auto; max-height: 20rem">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th></th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Salary</th>
                        </thead>
                        <tbody>
                            {% if restaurant.restaurant_staff.exists %}
                                {% if user.user_staff.can_read_salaries %}
                                    {% for staff in restaurant.restaurant_staff.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ staff.user.name|title }}</td>
                                            <td>{{ staff.get_role_display|title }}</td>
                                            <td>{{ staff.income|intcomma|default:'0' }} T</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td>1</td>
                                            <td>{{ user.user_staff.name|title }}</td>
                                            <td>{{ user.user_staff.get_role_display|title }}</td>
                                            <td>{{ user.user_staff.income|intcomma|default:'0' }}</td>
                                        </tr>
                                {% endif %}
                            {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            You don't have any staff yet.
                                        </td>
                                    </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-warning">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Orders:</span>
                            <ul class="nav nav-tabs d-flex justify-content-start" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">motorcycle</i> Delivery
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">room_service</i> Dine-In
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item ml-auto">
                                    <a 
                                       class="nav-link" 
                                       href="#" 
                                       onclick="$('#createOrderBtn').click()" 
                                       data-toggle="tab"
                                      >
                                        <i class="material-icons">add_circle</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <button 
                                        type="button" 
                                        class="d-none" 
                                        data-toggle="modal" 
                                        data-target="#createOrder"
                                        id="createOrderBtn"
                                    >
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="overflow-y:auto; max-height: 20rem">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody id="deliveriesTable">
                                    {% if restaurant.restaurant_orders|qs_exists:"deliveries" %}
                                        {% for order in restaurant.restaurant_orders|reverse_manager_using:"deliveries" %}
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input 
                                                                   class="form-check-input is-done" 
                                                                   type="checkbox"
                                                                   id="{{ order.public_uuid }}-done"
                                                                   {% if order.done %}checked{% endif %}
                                                                  >
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ order.timestamp|date:"h:i A" }} 
                                                    - no. {{ order.order_number }}
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button 
                                                            type="button" 
                                                            rel="tooltip" 
                                                            title="Edit Order"
                                                            class="btn btn-white btn-link btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#edit-order-{{ order.public_uuid }}"
                                                        >
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    {% if user.user_staff.can_delete_orders %}
                                                        <button 
                                                                type="button" 
                                                                rel="tooltip" 
                                                                title="Delete Order"
                                                                class="btn btn-white btn-link btn-sm" 
                                                                data-toggle="modal" 
                                                                data-target="#delete-order-{{ order.public_uuid }}"
                                                            >
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>
                                                <h3 class="text-center">We've had no deliveries today so far.</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6 class="text-center">
                                                    <a href="{% url 'in_place:orders' %}">
                                                        take a look at all orders instead
                                                    </a>
                                                </h6>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="messages">
                            <table class="table">
                                <tbody id="eatinsTable">
                                    {% if restaurant.restaurant_orders|qs_exists:"eatins" %}
                                        {% for order in restaurant.restaurant_orders|reverse_manager_using:"eatins" %}
                                            <tr id="order-tr-{{ order.public_uuid }}">
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input 
                                                                   id="{{ order.public_uuid }}-done"
                                                                   class="form-check-input" 
                                                                   type="checkbox"
                                                                   {% if order.done %}checked{% endif %}
                                                                >
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ order.timestamp|date:"h:i A" }} 
                                                    - order {{ order.order_number }}
                                                    , table {{ order.order_dinein.table_number }}
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button 
                                                            type="button" 
                                                            rel="tooltip" 
                                                            title="Edit Order"
                                                            class="btn btn-white btn-link btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#edit-order-{{ order.public_uuid }}"
                                                        >
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    {% if user.user_staff.can_delete_orders %}
                                                        <button 
                                                                type="button" 
                                                                rel="tooltip" 
                                                                title="Delete Order"
                                                                class="btn btn-white btn-link btn-sm" 
                                                                data-toggle="modal" 
                                                                data-target="#delete-order-{{ order.public_uuid }}"
                                                            >
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </trk>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>
                                                <h3 class="text-center">We've had no eatins today so far.</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6 class="text-center">
                                                    <a href="{% url 'in_place:orders' %}">
                                                        take a look at all orders instead
                                                    </a>
                                                </h6>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.js'
        integrity='sha512-ed5NxlZLm3zMfelJNuApFJquEBi9WhPoMe80a+8B7Y+VSM5aqNmkOkq79Egoy03tObr3gOdbrdbcpSUgX9mxBA=='
        crossorigin='anonymous'></script>
    <script>
        var $autoPrice = $(".auto-price"),
            $count = $(".item-count"),
            $orderType = $("#newOrderForm input[name=order_type]").filter(":checked"),
            $dinein = $("#new_dinein_info"),
            $orderItemTd = $(".order-item-td"),
            $paid = $(".paid-price");
        for (var j = 0; j < $orderItemTd.length; j++) {
            $($orderItemTd[j]).removeAttr("title");
            var content = $($orderItemTd[j]).find("option").filter(":selected").text();
            $($orderItemTd[j]).attr("data-original-title", `Item: ${content}`);
        }
        $paid.filter((i, e) => { return e.value == 0 }).val(0);
        $count.attr("min", 0);
        $("#order_type-i").prop("checked", true);
        if ($orderType.val() === "d") {
            $dinein.hide();
        }
        var $edit_form,
            $edit_dinein,
            $edit_order_type;
            {% for order in orders %}
                $edit_form = $("#editOrderForm-{{ order.qs.public_uuid }}");
                $edit_dinein = $edit_form.find(".dinein_info");
                $edit_order_type = $edit_form.find("input[name=order_type]");
                if ($edit_order_type.filter(':checked').val() === "d") {
                    $edit_dinein.hide();
                }
                $edit_order_type.change((e) => {
                    $("#dinein_info-{{ order.qs.public_uuid }}").toggle()
                });
            {% endfor %}
        $(document).ready(() => {
            md.initDashboardPageCharts();
        });
        $autoPrice.click((e) => {
                var formNumber = e.currentTarget.id.split("-")[1],
                      formType = e.currentTarget.id.split("-")[0],
                      formId = e.currentTarget.closest("form").id,
                      formUuid = formId.split("-").slice(1).join("-"),
                      $form = $(`#${formId}`),
                      $e = $(`#${e.currentTarget.getAttribute("id")}`),
                      orderId = $(`#${e.currentTarget.getAttribute("id")}`);
                var count,
                    fee,
                    $paidPrice;
                    
                if (formType == "edit_form") {
                    fee = parseInt($(`#edit_form-${formNumber}-fee-${formUuid}`).val());
                    count = parseInt($(`#edit_form-${formNumber}-count-${formUuid}`).val() | 0);
                    $paidPrice = $(`#edit_form-${formNumber}-paid_price-${formUuid}`);
                } else {
                    fee = parseInt($(`#id_form-${formNumber}-fee`).val() | 0);
                    count = parseInt($(`#id_form-${formNumber}-count`).val() | 0);
                    $paidPrice = $(`#id_form-${formNumber}-paid_price`);
                }
                
                $e.prop("checked", (_, v) => {
                    v ? $paidPrice.prop("disabled", true)
                        : $paidPrice.prop("disabled", false);
                    if (v) {
                        $form.find(`.paid-price[name=form-${formNumber}-paid_price]`
                            ).val(parseInt(count * fee) | 0);
                    }
                });
            });
            $count.keyup((e) => {
                if (e.currentTarget.value) {
                    const formNumber = e.currentTarget.id.split("-")[1],
                          formUuid = e.currentTarget.closest("form").id.split("-").slice(1).join("-"),
                          formType = e.currentTarget.id.split("-")[0];
                    var fee,
                        $paidPriceLoc,
                        count;

                    if (formType == "id_form") {
                        fee = parseInt($(`#${e.currentTarget.closest("form").id} #id_form-${formNumber}-fee`).val());
                        $autoPriceLoc = $(`#id_form-${formNumber}-auto_price`);
                        count = parseInt($(`#${e.currentTarget.closest("form").id} #id_form-${formNumber}-count`).val() | 0);
                        $paidPriceLoc = $(`#${e.currentTarget.closest("form").id} #id_form-${formNumber}-paid_price`);
                    } else {
                        fee = parseInt($(`#${e.currentTarget.closest("form"
                        ).getAttribute("id")} #edit_form-${formNumber}-fee-${formUuid}`).val());
                        count = parseInt($(`#${e.currentTarget.closest("form"
                        ).getAttribute("id")} #edit_form-${formNumber}-count-${formUuid}`).val() | 0);
                        $paidPriceLoc = $(`#${e.currentTarget.closest("form"
                        ).getAttribute("id")} #edit_form-${formNumber}-paid_price-${formUuid}`);
                        $autoPriceLoc = $(`#edit_form-${formNumber}-auto_price-${formUuid}`);
                    }
                    $autoPriceLoc.prop("checked", (_, v) => {
                        if (v) {
                            $paidPriceLoc.val(parseInt(count * fee) | 0);
                        }
                    });
                }
            });
            $("#newOrderForm input[name=order_type]").change((e) => {
                $dinein.toggle();
            });
    </script>
    <script>
        const ws_scheme = window.location.protocol === "https" ? "wss" : "ws",
              mark_ws = new WebSocket(`${ws_scheme}://${window.location.host}/ws/dinein/delivered/`);
        
        mark_ws.onmessage = (ws_data) => {
            var data = JSON.parse(ws_data).msg,
                order = data.order,
                done = data.done,
                $elem = $(`#${order}-done`);
            
            $elem.prop("checked", done ? true : false);
        };

        // Mark or unmark as delivered
        $(".is-done").change((e) => {
            e.preventDefault();
            var $elem  = $(e.currentTarget),
                val = $elem.prop("checked"),
                order = $elem.attr("id").split("-")[0],
                data = JSON.stringify({done: order, done: done});
                
            mark_ws.send(data);
        })
    </script>
    <script>
        const item_ws = new WebSocket(`${ws_scheme}://${window.location.host}/ws/dinein/new_item/`),
              edit_order_url = "{% url 'in_place:edit_order' %}",
              csrf_token_elem = '{% csrf_token %}',
              canDeleteOrders = Boolean("{{ user.user_staff.can_delete_orders|escapejs }}");

        item_ws.onmessage = e => {
            var temp = JSON.parse(e.data).response;
            eval(temp);
            // TODO: The tooltip of items dont work. fix them.
        }
    </script>
{% endblock %}
