{% load dash_utils %}


<table class="table table-hover">
    <thead>
        <th>no.</th>
        <th>order</th>
        <th>timestamp</th>
        <th>type</th>
        <th></th>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_number }}</td>
            <td>
                <span class="text-wrap">
                    {{ order.order_repr }}
                </span>
            </td>
            <td>
                {{ order.timestamp|date:'H\:i' }}
            </td>
            <td>{{ order.get_order_type_display }}</td>
            <td>
                <button 
                        type="button" 
                        rel="tooltip" 
                        title="Details" 
                        class="btn btn-white btn-link btn-sm"
                        data-toggle="modal" 
                        data-target="order-modal-{{ order.public_uuid }}"
                       >
                    <i class="material-icons">info</i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                total: {{ daily_revenue|trunc_number }}T
            </td>
        </tr>
    </tfoot>
</table>
